#nav{
    opacity: .8;
    border-bottom: 3px solid dodgerblue;
}
#header{
    width: 100%;
    min-height: 600px;
    padding-bottom: 50px;
    padding-top: 110px;
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('../images/8.jpg') no-repeat center top fixed;
    background-size: cover;
}
.icon-check{
    color: dodgerblue;
    background-color: #fff;
    font-size: 20px;
    border-radius: 5px;
}
#header form{
    opacity: .8;
}

#footer{
    border-top: 2px solid dodgerblue;
}
.modal-header i{
    cursor: pointer;
}
#header h1{
    white-space: nowrap;
}
@media (max-width:768px){
    #header h1{
        font-size: 1.5rem;
    }
}